@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Poppins';
    src: url('../public/assets/fonts/PoppinsRegular-B2Bw.otf');
}

@font-face {
    font-family: 'Gallient';
    src: url('../public/assets/fonts/Gallient.ttf');
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: white;
        background: black;
    }
}

* {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    background: transparent;
    color: white;
}

html {
    background-color: black; /*just in case the device height is too long (maybe some weird device in the future)*/
}

.noisy-background {
    background-image: url("../public/assets/img/Rectangle-Fullscreen-Noise-1.svg"), url("../public/assets/img/Rectangle-Fullscreen-Noise-1.svg");
    background-repeat: repeat, repeat;
}

/* App */
#App {
    background-color: black;
    background-repeat: no-repeat;
    background-position: top right;
}

@media (max-width: 767px) {
    #App {
        background-image: url("../public/assets/img/ellipse-2@1x-lg.svg");
    }
}

@media (min-width: 768px) {
    #App {
        background-image: url("../public/assets/img/ellipse-2@1x.svg");
    }
}

/* NavBar */
.logo-text {
    font-family: 'Gallient', serif;
    font-size: 44px;
    line-height: 58.4px;
}

.nav-links {
    font-size: 21px;
    line-height: 32px;
}

.social-icons {
    width: 109px;
    height: 45.65px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    padding-left: 23.29px;
    padding-right: 23.29px;
}

/* Home */
@media (max-width: 767px) {
    /* md - 1px */
    /* This targets mobile */
    #Home {
        background-image: url("../public/assets/img/rectangle-3@1x.svg"), url("../public/assets/img/rectangle-3@1x.svg"),
        url("../public/assets/img/Rectangle-1-eye-cover.svg"),
        url("../public/assets/img/aldo-sadewo-c8byy2s4s-c-unsplash-copie-1@1x.png"),
        url("../public/assets/img/vector@2x.svg"),
        url("../public/assets/img/number.svg"),
        url("../public/assets/img/Rectangle-2-top-right.svg"),
        url("../public/assets/img/vector-1@1x-lg.svg"),
        url("../public/assets/img/ellipse-1@1x-lg.svg");
        background-repeat: no-repeat, no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;
        background-position: left -174px bottom, left -174px bottom,
        left -12px bottom 427.74px,
        left -124px bottom 37px,
        right 125px bottom 439px,
        right 46px bottom 469px,
        right -215px bottom 450.74px,
        center top -75px,
        bottom left;
        background-size: 466px, 466px,
        188px 109px,
        416px 636px,
        105px auto,
        52px auto,
        auto 78px,
        100% 329px,
        cover;
    }
}

@media (min-width: 768px) {
    /* md */
    #Home { /* This only applies to devices with a width > 960px*/
        background-image: url("../public/assets/img/rectangle-3@1x.svg"),
        url("../public/assets/img/Rectangle-1-eye-cover.svg"),
        url("../public/assets/img/aldo-sadewo-c8byy2s4s-c-unsplash-copie-1@1x.png"),
        url("../public/assets/img/vector@2x.svg"),
        url("../public/assets/img/number.svg"),
        url("../public/assets/img/Rectangle-2-top-right.svg"),
        url("../public/assets/img/vector-1@1x.svg"),
        url("../public/assets/img/vector-2@1x.svg"),
        url("../public/assets/img/ellipse-1@1x.svg");
        background-repeat: no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;
        background-position: center bottom -8px,
        center bottom 555px,
        center bottom,
        right 265px bottom 565px,
        right 130px bottom 615px,
        right bottom 595px,
        right bottom 330px,
        right bottom -311px,
        bottom left;
    }
}

.home-text-upper-left .paragraph-title {
    font-family: 'Gallient', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 51.42px;
    line-height: 73px;
}

.home-text-upper-left .paragraph-text {
    font-weight: 300;
    font-size: 9.78px;
    line-height: 160%; /* or 16px */
    text-align: justify;
}

.home-text-upper-right-max-md .arrow-box {
    width: 44.26px;
    height: 72px;
}

.home-text-upper-left .arrow-box {
    width: 75px;
    height: 122px;
    background: url("../public/assets/img/Rectangle-Arrow.svg") no-repeat;
}

.home-text-upper-right-max-md .arrow {
    height: 25.38px;
    background-image: url("../public/assets/img/arrow-1@2x.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.home-text-upper-left .arrow {
    height: 43px;
    width: 100%;
    background: CENTER url("../public/assets/img/arrow-1@2x.svg") no-repeat;
    background-size: contain;
}

.home-text-upper-right-max-md .learn-more {
    width: 141.64px;
    height: 72px;
    font-weight: 500;
    font-size: 13.5738px;
    line-height: 20px;
}

.home-text-upper-left .learn-more {
    font-weight: 500;
    font-size: 23px;
    line-height: 34px;

    width: 240px;
    height: 122px;
    background: url('../public/assets/img/Rectangle-upper-left-gradient-learn-more.svg') center center no-repeat;
}


.watch-max-md {
    font-weight: 700;
    font-size: 11.3645px;
    line-height: 17px;

    width: 152px;
    height: 198.17px;

    background-image: url('../public/assets/img/Rectangle-watch-outer-lg.svg'), url('../public/assets/img/Rectangle-watch-middle-lg.svg'), url('../public/assets/img/Rectangle-watch-inner-lg.svg');
    background-position: center center, center center, center center;
    background-repeat: no-repeat;
}

.watch {
    font-weight: 700;
    font-size: 17.6631px;
    line-height: 26px;

    width: 237px;
    height: 308px;

    background-image: url('../public/assets/img/Rectangle-outer.svg'), url('../public/assets/img/Rectangle-middle.svg'), url('../public/assets/img/Rectangle-inner.svg');
    background-position: center center, center center, center center;
    background-repeat: no-repeat;
}

.home-text-lower-right .paragraph-title {
    font-family: 'Gallient', serif;
    font-weight: 400;
    font-size: 62.5309px;
    line-height: 89px;
}

.home-text-lower-right p {
    width: 201.49px;
    height: 150.54px;

    font-weight: 300;
    font-size: 10.0358px;
    line-height: 18px;
    text-align: justify;
}

@media (min-width: 960px) {
    .home-text-upper-left .paragraph-title {
        font-family: 'Gallient', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 72.9px;
        line-height: 105.4px;
    }

    .home-text-upper-left .paragraph-text {
        font-weight: 300;
        font-size: 14.5px;
        line-height: 20.6px;
        text-align: justify;
    }
}